* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  padding-left: 0;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: 1.25s cubic-bezier(0.2, 0.6, 0, 1);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.main-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--index);
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
}

.slider {
  -webkit-transform: rotate(12.5deg);
          transform: rotate(12.5deg);
  overflow: visible;
}
.slider:nth-child(odd) {
  -webkit-transform: rotate(192.5deg);
          transform: rotate(192.5deg);
}
.slider:nth-child(odd) .slider__img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider .slider__wrapper {
  -webkit-transition: var(--transition) !important;
  transition: var(--transition) !important;
  will-change: transform;
}

.slider__item {
  width: 21vw;
  margin-bottom: calc(var(--index) * 2.6);
  cursor: pointer;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  will-change: transform;
  -webkit-box-shadow: rgb(0, 0, 0) 0 0 30px 10px;
          box-shadow: rgb(0, 0, 0) 0 0 30px 10px;
  border-radius: 8px;
}
.slider__item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.slider__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 8px;
}